:root {
    --text-color: #5f6368;
    --google-blue: #1a73e8;
    --link-color: #1a0dab;
    --light-grey: #70757a;
    --border: #dfe1e5;
    --link-color-gray: #5f6368;
    --lightest-grey: #878c91;
    --hover-blue:  #0854b8; 
    --hover-grey: #ebe8e8;
    --footer: #f2f2f2;
    --footer-font: rgba(0,0,0,.54);
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.58em;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 1fr 9fr 1.5fr;
    grid-template-rows: 1fr 1fr;
}

/*** Logo ***/

#logo {
    grid-column-start: 1;
    width: 110px;
    margin: 1em;
}


/*** Searchbar ***/
#search-form #main-nav{
    grid-column-start: 2;
    background-color: blue;
    width: 35em;
    margin-top: 1em;
}

input[type=text] {
    padding-left: 22px; 
    font-size: 17px;
}

#search-field {
    border-radius: 30px;
    width: 48em;
    height: 3em;
    border: solid 1px #e2e4e8;
    margin-top: 0.5em;
    display: inline-block;
}

#search-field:hover {
    box-shadow: 0 0 6px rgba(32,33,36,0.28)
}

#search-items {
    width: 7em;
    display: inline-block;
    color: var(--text-color);
    margin-left: -6em;
}

#search-items i {
    padding-right: 1em;
    font-size: 1.3em;
}

#search-button {
    color: var(--google-blue);
}

/*** Main navigation ***/
#main-nav {
    grid-column-start: 2;
    grid-row-start: 2;
    color: var(--text-color);
}

#main-nav ul {
    padding: 0em;
}

#main-nav ul li {
    display: inline;
    padding: 0.8em;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

i {
    padding-right: 0.45em;
    font-size: 16px;
}

.highlighted {
    border-bottom: solid 3px var(--google-blue);
}

.highlighted, .highlighted a{
    color: var(--google-blue);
}


/*** Login buttons ***/
#login-nav {
    grid-column-start: 3;
    grid-row-start: 1;
    width: 100%;
    height: 100%;

}

#login {
    color: white;
    background-color: #1a73e8; 
    width: 140px;
    height: 45px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid transparent;
    margin-top: 0.55em;
    margin-right: 0.55em;
    float: right;
}

#login:hover {
    background-color: #4485da;
}

#dots {
    float:left;
    padding-top: 0.8em;
    padding-left: 2.4em;
    padding-right: 0.8em;
}

/*** Main Content***/
main {
    display: grid;
    grid-template-columns: 1fr 9fr 1.5fr;
}

.main-container {
    grid-column-start: 2;
    max-width: 790px;
    margin-left: 1.3em;
}

.statistics {
    color: var(--light-grey);
    margin: 0em;
}

.infobox {
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 0 1em;
}

.infobox span {
    color: var(--link-color-gray);
}

.infobox .fas {
    vertical-align: top;
}

.privacy-info {
    display: grid;
    grid-template-columns: 1fr 9fr;
    padding: 2em 1em;
    margin: 1.5em 0em;
}

.privacy-info img {
    grid-column-start: 1;
}

.privacy-info div{
    grid-column-start: 2;
}

.first-result {
    margin-top: 2em;
    padding-bottom: 1.5em;
}

.first-result a {
    color: var(--link-color);
    font-size: 23px;
}

.submenu {
    float: right;
    margin-top: 0.2em;
}

.submenu a {
    padding-left: 1.4em;
    color: var(--lightest-grey) !important;
    font-size: 14px;
}

h1, h2 {
    font-weight: lighter;
    margin: 0 0 0.5em 0;
}

h1 {
    font-size: 1.8em;
}

.primary-btn, .secondary-btn {
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid transparent;
    height: 2.5em;
}

.primary-btn {
    background-color: var(--google-blue);
    color: white;
    width: 7em;

}

.primary-btn:hover {
    background-color: var(--hover-blue);
}

.secondary-btn {
    background-color: transparent;
    color: var(--google-blue);
    margin-left: -0.4em;
    margin-right: 0.5em;
}

.secondary-btn:hover{
    background-color: var(--hover-grey);
}


/*** Search result ***/

.search-result {
    margin: 3em 0em -1em 0em;
}

.search-result h2, .search-result .translate-link {
    margin-bottom: 0.1em;
    color: var(--link-color);
}

.search-result p {
    margin-top: 0.7em;
}

.search-result .url {
    color: black;
}

.search-result h2 {
    margin-top: 0.3em;
}

.arrow {
    vertical-align: top;
    padding-left: 0.2em;
}
 
/*** Video section ***/
.videos {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.video-preview {
    margin-right: 1em;
    padding: 0 0 1em 0;
    width: 92.35%;
}

.video-preview h3 {
    margin: 1em 1em;
    font-weight: lighter;
    color: var(--link-color);
}

.video-preview p {
    margin: 0em 1.2em;
    color: var(--light-grey);
}

.video-preview p span{
    color: black;
}


/*** Similar search queries ***/
.similar-queries {
    margin-top: 3em;
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}

.similar-queries h2 {
    grid-column: 1 / 4;
}

.similar-queries ul li {
    list-style: none;
    width: 16em;
    margin-left: -2.4em;
    font-weight: bold;
}

.similar-queries ul li a {
    color: var(--link-color);
}

.similar-queries ul li a:hover{
    text-decoration: underline;
}

.first-queries {
    grid-column-start: 1;
}

.second-queries {
    grid-column-start: 2;
}

/*** Pagination ***/
.pagination {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

/*** Footer ***/

footer {
    background-color: var(--footer);
    color: var(--footer-font);
    padding: 0.2em 0;
    display: grid;
    grid-template-columns: 1fr 9fr 1.5fr;
}

footer ul {
    grid-column-start: 2;
}
footer ul li {
    list-style-type: none;
    display: inline;
    padding-right: 1.2em;
    margin-left: -0.85em;
}

footer ul li strong {
    color: black;
}

footer hr {
    border: 0.5px solid rgb(223, 223, 235);
}

footer ul li a:hover {
    color: black;
}